<div class="lastSection">
    <div class="top-section">
      <div class="contact-info-items" data-aos="fade-down">
        <div class="icon">
          <i class="fa-solid fa-phone-volume"></i>
        </div>
        <div class="info">
          <span>Call Us 7/24</span>
          <span>+208-555-0112</span>
        </div>
      </div>
      <div class="contact-info-items">
        <div class="icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="info">
          <span>Make a Quote</span>
          <a href="mailto:ahmedmostafaabdel3azem@gmail.com"
            >example@gmail.com</a
          >
        </div>
      </div>
      <div class="contact-info-items">
        <div class="icon">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div class="info">
          <span>Opening Hour</span>
          <span>Sunday - Fri: 9 AM - 6 PM</span>
        </div>
      </div>
      <div class="contact-info-items">
        <div class="icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="info">
          <span>Location</span>
          <span>4517 Washington ave.</span>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-section">
        <div class="left-footer-section">
          <div class="logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M19 19H5V5h7V3H5c-1.11 0-2 .89-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 7.41V11h2V3h-7z"
              />
            </svg>
            <img src="../../assets/images/logo.png" alt="" />
          </div>
          <p>
            Phasellus ultricies aliquam volutpat ullamcorper laoreet neque, a
            lacinia curabitur lacinia mollis
          </p>

          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>

          <p>© All Copyright 2024 by <b>Bazario</b></p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Costumers Support</h3>
        <div class="blue-line"></div>
        <div class="linkIcons">
          <a href="#"><i class="fa-solid fa-angles-right"></i> Store List</a>
          <a href="#"
            ><i class="fa-solid fa-angles-right"></i> Opening Hours</a
          >
          <a href="#"><i class="fa-solid fa-angles-right"></i> Contact Us</a>
          <a href="#"
            ><i class="fa-solid fa-angles-right"></i> Return Policy</a
          >
        </div>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <div class="blue-line"></div>
        <div class="linkIcons">
          <a href="#"><i class="fa-solid fa-angles-right"></i> About Us</a>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Testimonial</a>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Faq</a>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Blog</a>
        </div>
      </div>
      <div class="footer-section newsletter">
        <h3>Newsletter</h3>
        <div class="blue-line"></div>
        <p>Sign up to searing weekly newsletter to get the latest updates.</p>
        <div class="subscribe">
          <input type="email" placeholder="Enter Email Address" />
          <button>
            <i class="fa-regular fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </footer>
  </div>
