<header id="header" class="header">
    <!-- Topbar -->
    <div class="topbar">
      <div class="topbar-content">
        <div class="top-contact">
          <ul>
            <li>
              <i
                style="color: #1a76d1; margin-right: 8px"
                class="fa fa-phone"
              ></i
              >+880 1234 56789
            </li>
            <li>
              <i
                style="color: #1a76d1; margin-right: 8px"
                class="fa fa-envelope"
              ></i>
              <a href="mailto:ahmedmostafaabdel3azem@gmail.com"
                >support@yourmail.com</a
              >
            </li>
          </ul>
        </div>

        <p>Free delivery for orders over 199EG. 20EG delivery on 99+ !</p>

        <div id="nav-links" class="get-quote">
          <a href="pages/auth/login.html" id="login-link" class="btn-Reg"
            >Login</a
          >
          <a href="pages/auth/register.html" id="register-link" class="btn-Reg"
            >Register</a
          >
          <a
            href="#"
            id="dashboard-link"
            class="btn-Reg"
            style="display: none"
          ></a>
          <a href="#" id="logout-btn" class="btn-Reg" style="display: none">
            Logout
          </a>
        </div>
      </div>
    </div>

    <!-- Header Inner -->
    <div class="header-inner">
      <div class="header-content">
        <div class="logo">
          <a href="#"
            ><img src="../../assets/images/logo.png" alt="Logo"
          /></a>
        </div>
        <div class="main-menu">
          <nav>
            <ul class="nav menu">
              <li><a href="#">Home</a></li>
              <li class="active">
                <a href="pages/customer/products.html"
                  >Products <i class="fa-solid fa-chevron-down"></i
                ></a>
                <ul class="dropdown">
                  <li><a href="pages/customer/cart.html">Cart</a></li>
                  <li><a href="pages/customer/wishlist.html">Wish List</a></li>
                </ul>
              </li>
              <li><a href="pages/customer/about.html">ِAbout Us</a></li>
              <li><a href="pages/customer/contact.html">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div id="nav-links" class="get-quote">
          <div class="tooltip">
            <a href="pages/customer/cart.html" id="login-link" class="btn"
              ><span><i class="fa-solid fa-bag-shopping"></i></span
            ></a>
            <span class="tooltiptext">Cart</span>
          </div>
          <div class="tooltip">
            <a href="pages/customer/wishlist.html" class="btn"
              ><span><i class="fa-regular fa-heart"></i></span
            ></a>
            <span class="tooltiptext">Wish List</span>
          </div>
        </div>
      </div>
    </div>
  </header>