<aside>
  <div class="top">
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="this is logo" />
    </div>

    <div class="close">
      <span><i class="fas fa-times"></i></span>
    </div>
  </div>

  <div class="sidebar">
    <a href="../admin/index.html" id="dashboard">
      <span><i class="fas fa-tachometer-alt"></i></span>
      <h3>Dashboard</h3>
    </a>

    <a href="../admin/customer.html" id="customer">
      <span><i class="fas fa-user-alt"></i></span>
      <h3>Customers</h3>
    </a>

    <a href="../admin/category.html" id="categories">
      <span><i class="fas fa-th-large"></i></span>
      <h3>Categories</h3>
    </a>
    <a href="../admin/product.html" id="products">
      <span><i class="fas fa-box"></i></span>
      <h3>Products</h3>
    </a>

    <a href="../admin/order.html" id="orders">
      <span><i class="fas fa-shopping-cart"></i></span>
      <h3>Orders</h3>
    </a>

    <a href="#" id="logout">
      <span><i class="fas fa-sign-out-alt"></i></span>
      <h3>Log Out</h3>
    </a>
  </div>
</aside>

